<h1>Scientist</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Field of Study</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scientists.each do |scientist| %>
      <tr>
        <td><%= link_to scientist.name, scientist_path(scientist) %></td>
        <td><%= scientist.field_of_study %></td>
      </tr>
    <% end %>
  </tbody>
</table>
